.container {
  display: flex;
  justify-content: center;

  &__header {
    align-self: center;
    margin: 45px 0 45px 0;
    width: 90%;
    height: 365px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    &__header {
      margin: 0px;
      height: 265px;
    }
  }
}